<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\App\FrontControllerInterface">
		<plugin disabled="false" name="SuttonSilver_WordpressProductPage_Plugin_Magento_Framework_App_FrontControllerInterface" sortOrder="10" type="SuttonSilver\WordpressProductPage\Plugin\Magento\Framework\App\FrontControllerInterface"/>
	</type>

	<type name="Magento\Checkout\Model\Cart">
		<plugin name="add_extra_product" type="SuttonSilver\WordpressProductPage\Plugin\Magento\Checkout\Model\Cart\Add" sortOrder="1"/>
	</type>

	<preference for="FishPig\WordPress\Helper\Filter" type="SuttonSilver\WordpressProductPage\Helper\Filter" />
	<preference for="FishPig\WordPress\Model\Post" type="SuttonSilver\WordpressProductPage\Model\Post" />
	<preference for="Magento\Catalog\Block\Product\ProductList\Related" type="SuttonSilver\WordpressProductPage\Block\Frontend\Catalog\Product\ProductList\Related" />
	<preference for="Magento\Catalog\Block\Product\View" type="SuttonSilver\WordpressProductPage\Block\Frontend\Catalog\Product\View" />
	<preference for="Magento\Catalog\Block\Product\ListProduct" type="SuttonSilver\WordpressProductPage\Block\Frontend\Catalog\Product\ListProduct" />
	<preference for="Magento\CatalogSearch\Block\SearchResult\ListProduct" type="SuttonSilver\WordpressProductPage\Block\Frontend\Catalog\Product\ListProduct" />
	<preference for="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle" type="SuttonSilver\WordpressProductPage\Block\Frontend\Catalog\Product\View\Type\Bundle" />
	<preference for="FishPig\WordPress\Block\Archive\View" type="SuttonSilver\WordpressProductPage\Block\Block\Fishpig\Archive\View" />
	<preference for="FishPig\WordPress\Model\ResourceModel\Archive" type="SuttonSilver\WordpressProductPage\Model\Fishpig\ResourceModel\Archive" />
</config>
